<h1>Corey's Backbone.js Quiz App</h1>
<p id="greeting1" class="lead"></p>
<div id="submitNameWrap">
	<p id="welcomeUser" class="lead">Welcome! If you wish to enter a username, submit it first.
		<br>Otherwise if you wish to play anonymously, skip right into the quiz below:</p>
	<form class="form-inline">
		<div class="form-group has-error has-feedback">
			<input class="form-control" id="your-name" placeholder="Your name" name="login">
		</div>
		<div class="form-group">
			<button class="btn btn-danger" id="submitName">submit name</button>
		</div>
	</form>
</div>
<button class="btn btn-success" id="changeUser">change user</button><br>
