<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="#">Javascript Quiz</a></li>
				<li><a href="#quiz/2">Basketball Quiz</a></li>
				<li><a href="#quiz/3">Football Quiz</a></li>
				<li><a href="#quiz/4">American History Quiz</a></li>
			</ul>
		</div>
	</div>
</nav>
